html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.container{
    width: 200px;
    height: 200px;
    background-color: royalblue;
    padding: 20px;
}

p{
    margin: 0px;    
}

.work_with_style{
    width: 200px;
    height: 200px;
    margin: 10px;
    transition-property: background-color, border-radius;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: aquamarine;
}

.work_with_style:hover{
    background: linear-gradient(55deg, green, blue);
    border-radius: 20px;
}