html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.container{
    width: 200px;
    height: 200px;
    background-color: royalblue;
    padding: 20px;
}

p{
    margin: 0px;    
}

.add_content{
    width: 100px;
    height: 100px;
    margin: 10px;
    background:linear-gradient(45deg ,green, yellow);
}